{% extends "admin/change_form.html" %}
{% load i18n admin_urls crispy_forms_tags djangocodemirror_tags %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' opts.app_label %}">{{opts.app_config.verbose_name}}</a> &rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
        <a href="{% url opts|admin_urlname:'history' object_id %}">{% trans "History" %}</a> &rsaquo;
        {% blocktrans with opts.verbose_name as verbose_name %}Revert {{verbose_name}}{% endblocktrans %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>{% blocktrans %}Press the save button below to revert to this version of the object.{% endblocktrans %}</p>

        <form id="changelist-form" action="" method="post" enctype="multipart/form-data" class="uniForm">{% csrf_token %}
            {% crispy adminform.form %}

            <p class="paginator">
                <input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>
            </p>
        </form>
    </div>

    {% codemirror_field_css_assets adminform.form.config %}
    {% codemirror_field_js_assets adminform.form.config %}
    <script>
        var config_codemirror = CodeMirror.fromTextArea(
            document.getElementById("id_config"),
            {{ adminform.form.config|codemirror_parameters }}
        );
    </script>
{% endblock %}

{% block submit_buttons_top %}{% with is_popup=1 %}{{block.super}}{% endwith %}{% endblock %}
{% block submit_buttons_bottom %}{% with is_popup=1 %}{{block.super}}{% endwith %}{% endblock %}
